.footer{
    background: rgb(29, 29, 29);
    padding: 2rem 2rem;
    color: white;
}
.upper{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.upper i{
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.lower{
    display: flex;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.lower div{
    display: flex;
    flex-direction: column;
}
.lower h4{
    font-size: 1.4rem;
    padding: 1rem 0 .8rem 0;
}
.lower a{
    text-decoration: none;
    color: lightblue;
    padding-bottom: .4rem;
}
@media screen and (max-width:855px){
    .upper{
        display: flex;
        flex-direction: column;
    }
    .upper h1{
        text-align: center;
    }
    .upper p{
        padding-top: 1rem;
        text-align: center;
    }
    .upper i{
        padding-top: 1rem;
        text-align: center;
        padding-left: 1rem;
    }
    .lower{
        display:grid;
        width: 100%;
        grid-template-columns: repeat(2,40%);
        position: relative;
        margin-top: 2rem;
        justify-content:center;
    }
    .lower div{
        text-align: justify;
        height: 180px;
        
        
    }
}

