    .form{
        margin: 10rem 6rem;
    }
    .heading-div h1{
        text-align: center;
    }
    .form form{
        display: flex;
        flex-direction: column;
        width:50%;
        margin:auto;
    }
    .label{
        display: block;
        font-size: larger;
        color: white;
        padding: 5px;
    }
    
    .input{
        font-size: larger;
        height:3rem;
        padding: 0 1rem;
        margin-bottom: 1.6rem;
        border-radius: .3rem;
        border:1px solid black;
    
    }
    .btn{
        color: rgb(0, 0, 0);
        background-color: transparent;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: 600;
        display: block;
        padding: 7px;
        margin: 2rem auto;
    }
    .btn:hover{
        background-color: black;
        color: white;
    }
    
    .messages{
        display: flex;
        justify-content: center;
    }
    
    .error{
        text-align: center;
        color: rgb(238, 0, 0);
        width: fit-content;
        height: 50px;
        padding: 5px;
    }
    
    
    .success{
    color: rgb(0, 165, 14);
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
@media screen and (max-width:750px) {
    .form{
        margin: 8.5rem 2rem
    }
    .form form{
        width:90%;
    }

}
