    .form-container{
        margin: 7rem 6rem;
        height: 90vh;
    }
    .form-container h1{
        font-size: 2.5rem;
    }
    .form-container form{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80vh;
        padding-top: 0.8rem;
        
        
    }
    .label{
        display: block;
        font-size: larger;
        color: white;
        padding: 5px;
    }
    
    .input{
        font-size: larger;
        height:3rem;
        padding: 0 1rem;
        margin-bottom: 0.5rem;
        border-radius: .3rem;
        border:1px solid black;
    
    }
    .btn{
        color: rgb(0, 0, 0);
        background-color: transparent;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: 600;
        display: block;
        cursor: pointer;
        padding: 0.6rem 0.4rem;
        margin: 0.5rem auto;
    }
    .btn:hover{
        background-color: black;
        color: white;
    }
@media screen and (max-width:750px) {
    .form-container{
        margin: 8.5rem 2rem
    }
    .form{
        width:90%;
    }

}
